.m-main {
    .pb(0);
}
.p-exterior {
    .flex();
    .pr();
    transition: 0.3s all;
    .ml(-10px);
    .u-back__status {
        .none();
    }
    &.fewer {
        .m-left {
            max-width: 411px;
            .m-list {
                max-height: calc(100vh - @header-height - 220px);
            }
            .m-more__list {
                .u-more_col {
                    width: 100%;
                }
            }
        }
        .m-right {
            max-width: calc(100% - 411px);
            .w(calc(100% - 411px));
            overflow: initial;
        }
    }
    &.unfold {
        .pt(120px);
        .u-back__status {
            .db();
            .pa();
            .lt(0,40px);
            .r(30px);
            background: #24292e;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
            padding: 10px 18px;
            .color(white);
            .fz(16px);
            .bold();
            .pointer();
        }
        .m-left {
            max-width: 0;
            max-height: 0;
            overflow: hidden;
            opacity: 0;
        }
        .m-right {
            .w(100%);
            .pb(40px);
            max-width: 100%;
            .m-info {
                .ml(0);
                .m-info__scroll {
                    max-height: initial;
                    overflow: initial !important;
                }
            }
            .m-action {
                .m-close {
                    .none();
                }
                .m-quick {
                    .mt(0);
                    .u-unfold {
                        .none();
                    }
                }
            }
        }
    }
    .m-common-toolbar {
        .m-toolbar-box {
            box-shadow: 0px 0px 10px 0px rgba(218, 128, 41, 0.3);
        }
        .m-toolbar-item {
            .u-search {
                .u-search-input {
                    input {
                        background-color: #fff7ef;
                        .color(#DA8029);
                        .fz(16px);
                        .bold();
                        &::placeholder {
                            .color(#DA8029);
                            .fz(16px);
                            .bold();
                        }
                    }
                }
                .el-input__icon {
                    .color(#DA8029);
                    .fz(24px);
                }
            }
        }
    }
    .m-left {
        transition: 0.3s all;
        padding: 40px 10px;
        width: 100%;
        .m-list {
            box-shadow: 0px 0px 10px 0px rgba(218, 128, 41, 0.3);
            .r(10px);
            .mt(40px);
            padding: 20px;
            p {
                .po();
            }
            .m-box {
                .r(10px);
                background-color: #fff7ef;
                padding: 20px 20px 0;
                .u-box__title {
                    .color(#DA8029);
                    .fz(16px);
                    .bold();
                }
                .m-new__list {
                    .flex();
                    .pb(20px);
                    .mt(10px);
                    flex-wrap: wrap;
                    gap: 20px;
                    .m-item {
                        .w(154px);
                        .mt(20px);
                        .pointer();
                        .m-item__img {
                            .h(242px);
                            padding: 4px 2px 2px 4px;
                            box-sizing: border-box;
                            background-image: url(../../img/exterior/exterior_border.svg);
                            background-size: 100% 100%;
                            .u-img {
                                .h(100%);
                                background-size: cover;
                            }
                        }
                        .u-title {
                            .mt(10px);
                            .color(white);
                            .fz(14px,28px);
                            .x();
                            background-color: #968b72;
                        }
                    }
                }
                .m-more__list {
                    .pb(20px);
                    .mt(10px);
                    .m-item {
                        .r(10px);
                        .mt(20px);
                        .flex();
                        .flex(y);
                        .pointer();
                        background: rgba(255, 193, 134, 0.3);
                        padding: 11px 13px;
                        box-sizing: border-box;
                        .u-img {
                            .r(5px);
                            .size(38px);
                            background-size: cover;
                            background-position: center;
                        }
                        .u-title {
                            .ml(10px);
                            .fz(16px);
                            .bold();
                            .color(#968b72);
                            .w(calc(100% - 48px));
                            .nobreak();
                        }
                    }
                }
                .m-archive-pages {
                    .x();
                    .pb(40px);
                    li {
                        background-color: white;
                        &:hover {
                            .color(#da8029);
                        }
                        &.active {
                            background-color: #da8029;
                            color: white;
                        }
                    }
                    .btn-prev,
                    .btn-next {
                        background-color: white;
                    }
                }
                .el-empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    box-sizing: border-box;
                    padding: 40px 0;
                    .el-empty__description {
                        .color(#DA8029);
                    }
                }
                &:not(:first-child) {
                    .mt(20px);
                }
            }
        }
    }
    .m-right {
        .mt(40px);
        max-width: 0;
        overflow: hidden;
        .m-info__scroll {
            max-height: calc(100vh - @header-height - 120px);
        }
    }
    .m-list,
    .m-right .m-info__scroll {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .u-filter {
        svg {
            fill: #949494;
            .mt(5px);
            .r(50%);
            &:hover {
                background-color: #fff7ef;
                fill: #da8029 !important;
            }
        }
    }
}
.u-filter {
    .el-button,
    .el-checkbox-button__inner,
    .el-radio-button__inner {
        // margin: 0 10px 0 10px;
        .db;
        .r(30px) !important;
        border: 1px solid #dcdfe6;
        background-color: #e1dfdf;
        &:hover {
            color: #da8029;
            background-color: #fff7ef;
            border-color: #fff7ef;
        }
    }
    .el-radio-button__orig-radio:checked + .el-radio-button__inner {
        background-color: #fff7ef;
        border-color: #fff7ef;
        color: #da8029;
        box-shadow: none;
    }
    .el-checkbox-button__inner {
        white-space: nowrap;
        transition: 0.3s ease-out;
        &:hover {
            background-color: #fff7ef;
            color: #da8029;
        }
    }
    &.is-active {
        .el-checkbox-button__inner {
            border-color: #fff7ef;
            background-color: #fff7ef;
            color: #da8029;
        }
    }
}
.m-common-filter {
    max-width: 360px;

    .el-radio-group {
        .flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .u-filter {
        .mb(10px);
    }
}

// 平板
@media screen and (max-width: 1133px) {
}
// 手机
@media screen and (max-width: 768px) {
    .p-exterior .m-left .m-list .m-box .m-new__list .m-item {
        margin: 0 auto;
    }
    .p-exterior {
        .m-right {
            .mt(0);
        }
    }
}
